.App {
  text-align: center;
}

.main {
  position: relative;
}

.userinfo {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

table {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
tr>button{
  width: 40%;
  margin-left: 10px;
  background-color: teal;
  color: white;
  border: none;
}
.confirmation {
  position: absolute;
  top: 10%;
  left: 40%;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: gray;
}

button {
  cursor: pointer;
}

.form {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
}

.form>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

label {
  width: 30%;
}

input {
  width: 60%;
  padding: 20px;
  border-radius: 20px;
}

.form>button {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: teal;
  color: white;
  font-size: 22px;
}
.navbar{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
a{
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: bold;
}